/**
 * File: Elegant.scss
 * Description : Contains all styling for Elegent Skin for WPLMS
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: WPLMS
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. GLOBAL STYLING
/*    02. HEADER STYLING
/*
/*========================================================================*/
/*   01. GLOBAL STYLING
/*========================================================================*/

@import '../defaults';

.minimal{
	.punchline.stripe{
		background:transparent;
	}
}